<div class="container">
  <form #PlayerForm="ngForm" novalidate (ngSubmit)="Save()">
    <div class="form-group">
      <label for="exampleInputEmail1">Player Name</label>

      <input type="text" class="form-control" name="PlayerName" placeholder="Player Name"
        [(ngModel)]="player.playerName" #PlayerName="ngModel" required>
      <small id="DeptHelp" class="form-text text-muted" *ngIf="PlayerName.errors?.required">Please This Field
        Required</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Date Of Birth</label>

      <input type="date" class="form-control" name="DateOfBirth" placeholder="DateOfBirth"
        [(ngModel)]="player.dateofBirth" #dateofBirth="ngModel" required>
      <small id="DeptHelp" class="form-text text-muted" *ngIf="dateofBirth.errors?.required">Please This Field
        Required</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Country Name</label>

      <select class="select-option form-control con" name="Country" [(ngModel)]="player.countryId">
        <option value="0"> Select Country </option>
        <option class='option' *ngFor="let country of Countries " [value]="country.countryId">{{country.countryName}}
        </option>
      </select>
      <small id="DeptHelp" class="form-text text-muted" *ngIf="dateofBirth.errors?.required">Please This Field
        Required</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Team</label>

      <select class="select-option form-control con" name="Team" [(ngModel)]="player.teamId">
        <option value="0"> Select Team </option>
        <option class='option' *ngFor="let team of Teams " [value]="team.teamId">{{team.teamName}}</option>
      </select>
      <small id="DeptHelp" class="form-text text-muted" *ngIf="dateofBirth.errors?.required">Please This Field
        Required</small>
    </div>
    <br>

    <div class="container">

      <button type="submit" class="btn btn-primary mb-2">Add</button>
    </div>

  </form>

</div>
