 <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container mx-1">

     <a class="navbar-brand" href="#">
       <h1>SimpleTeamApp</h1>
     </a>
   </div>
   <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse mx-auto" id="navbarNav">
     <ul class="navbar-nav">
       <li routerLinkActive="nav-item active">
         <a class="nav-link" routerLink="/Add">Add</a>
       </li>
       <li routerLinkActive="nav-item active">
       </li>

     </ul>
   </div>
 </nav>
 <div class="container">
   <div>
     <div class="row">
       <router-outlet></router-outlet>
     </div>
   </div>
 </div>


 <!-- <router-outlet></router-outlet> -->
